.resume {
  margin: 70px 0px;
}

.resume-link {
  font-size: 18px;
  color: #EBF4F6;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.resume-link:hover {
  text-decoration: underline;
}
